html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: left;
  color: gray;
}

.footer2 {
  position: absolute;
  right: 0;
  bottom: 50;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: gray;
}

.parallax {
  background-image: url('https://source.unsplash.com/random/featured/?coffee');
  height: 55%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:focus {
  outline: none
}

#reviewSubmissionModal .modal-content {
  margin-top: 60%
}

.field-set {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.field-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.field-row + .field-row {
  border-top: 1px solid #819efc;
}

.field-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.field-input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.field-input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.field-input::-webkit-input-placeholder {
  color: #87bbfd;
}

.field-button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #525252;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #525252;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.parent-comment {
  position: relative;
  outline: 2px solid #525252;
  width: calc(100% - 250px);
  margin: 20px;
  box-shadow: 5px 5px 8px #525252;
}

.parent-comment-heading {
  text-align: left;
  padding: 2px;
  margin: 5px;
  color: #a02525e8;
  display: block;
}

.parent-comment-text {
  text-align: left;
  padding: 2px;
  margin: 5px;
  display: block;
}

.parent-comment-btn {
  margin: 5px;
  padding: 5px;
  display: block;
}

.parent-comment-spacing {
  background-color: #525252;
  width: 98% ;
  height: 1px;
  margin: 2px;
}

/* .field-button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
} */