html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: left;
  color: gray;
}

.footer2 {
  position: absolute;
  right: 0;
  bottom: 50;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: gray;
}

.parallax {
  background-image: url('https://source.unsplash.com/random/featured/?coffee');
  height: 55%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:focus {
  outline: none
}