html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.nav-logo {
  width: 140px;
  height: auto;
  float: left;
  margin-top: -6.5px;
  /* margin-left: -20px; */
  /* display: flex; */
  /* align-items: center; */
  /* padding: -50px 0 0 -10px; */
}

.nav-logo2 {
  /* position: fixed; */
  background-attachment: fixed;
  top: 340; bottom:0; left: 0; right:0;
  margin: auto;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: left;
  color: gray;
}

.footer2 {
  position: absolute;
  right: 0;
  bottom: 50;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: gray;
}

.parallax {
  position: relative;
  background-image: url('https://source.unsplash.com/random/featured/?coffee');
  height: 55%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .nav-logo2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* .parallax h1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
} */