html {
  height: 100%;
  box-sizing: border-box;
}

.emoji {
  color: #bdc3c7;
  font-weight: 400;
  font-family: "apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla";
}

.active {
  color: #e74c3c;
  font-weight: 700;
}
.emoji:focus {
  color: #c0392b;
  font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: left;
  color: gray;
}

button{
  font-family: sans-serif
}

.footer2 {
  position: absolute;
  right: 0;
  bottom: 50;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: gray;
}

.parallax {
  background-image: url("https://source.unsplash.com/random/featured/?coffee");
  height: 35%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:focus {
  outline: none;
}


.upper{
  display: grid;
  grid-template-columns: [row1-start] 33% [row1-end] 66% [third-line];
  grid-template-areas: 
  "picture content"
}

.down{
  grid-column: 1/3;
}


.picture{
  display:grid;
  height:200px;
  width:200px;
}

.faves{
  text-align: right;
  margin-right: 20%
}
.friends{
  margin-left: 10%
}

.rightSide{
  margin-left: 10%;
}

.field-set {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.field-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.field-row + .field-row {
  border-top: 1px solid #819efc;
}

.field-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.field-input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.field-input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.field-input::-webkit-input-placeholder {
  color: #87bbfd;
}

.field-button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #525252;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #525252;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.review-modal-user {
  margin-left: 15px;
  color: #a02525
}

.horse {
  cursor: pointer;
}

.review-feed-title {
  width: calc(100% - 245px);
  position: relative;
  text-align: left;
  color: #525252;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
  font-size: 28px;
  text-shadow: 1px 1px #a0252552;
  display: inline-block;
}

.review-feed-exit {
  width: 100px;
  position: fixed;
  float: right;
  margin: 5px;
  margin-left: 8px;
  margin-top: 25px;
  background-color: #a02525b7;
  color: #fdfcfc;
  
}

.review-feed-spacing {
  background-color: #525252;
  width: 90%;
  height: 1px;
  margin: 20px;
}

.parent-comment {
  position: relative;
  outline: 2px solid #525252;
  width: calc(100% - 250px);
  margin: 20px;
  padding: 2px;
  box-shadow: 5px 5px 8px #525252;
}


.parent-comment-heading {
  text-align: left;
  padding: 2px;
  margin-top: 10px;
  margin-left: 5px;
  color: #a02525e8;
  display: block;
}

.parent-comment-text {
  text-align: left;
  padding: 2px;
  margin: 5px;
  display: block;
}

.parent-comment-btn {
  margin: 5px;
  padding: 5px;
  display: block;
  background-color: #a02525b7;
  color: #fdfcfc
}

.review-feed-btn {
  margin: 2px;
  padding: 2px;
  display: inline-block;
  background-color: #a02525b7;
  color: #fdfcfc
}

.parent-comment-spacing {
  background-color: #525252;
  width: 98% ;
  height: 1px;
  margin: 2px;
}

.child-comment {
  text-align: left;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 5px;
  display: block;
  background-color: #5252521a;
  width: 95%;
}

.comment-text-field {
  background-color: #5252521a;
  width: 60%;
  height: 75px;
  padding: 8px;
}

/* .field-button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
} */

/* ads CSS */

#banner {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  background: #666699;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
#banner a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  animation: 1s fadein ease-in-out;
  animation-fill-mode: forwards;
}
#target {
  background: url(http://base.webdesignforyou.net/banner/target.png) center center no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  position: absolute;
  width: 500px;
  height: 500px;
  margin-top: -100px;
  margin-left: -100px;
  animation: 20s roty infinite linear;
}
#product {
  margin: 30px auto 0 auto;
  display: block;
  z-index: 10;
  width: 150px;
  position: relative;
  opacity: 0;
  animation: 1s growin ease-in-out 1s;
  animation-fill-mode: forwards;
}
#button {
  color: #fff;
  padding: 8px 15px 8px 15px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 18px;
  background: #3ba7d1;
  display: inline-block;
  margin: 10px 0 0 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  opacity: 0;
  animation: 1s fadein ease-in-out 2s;
  animation-fill-mode: forwards;
}
#sale {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 10;
}
#sale-text {
  color: #fff;
  font-family: 'Satisfy';
  font-size: 26px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: 1s fadein ease-in-out 1.5s;
  animation-fill-mode: forwards;
}
#badge {
  box-sizing: border-box;
  color: #fff;
  padding: 10px 0 0 0;
  font-weight: 800;
  font-family: 'Roboto Slab';
  font-size: 16px;
  text-align: center;
  width: 70px;
  height: 70px;
  background: #ff9900;
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 50%;
  transform: rotate(345deg);
  animation: 1s fadein ease-in-out;
  -webkit-transition-delay: 6s;
  transition-delay: 6s;
  position: absolute;
  opacity: 0;
  transform: rotate(0deg);
  top: 0px;
  right: 0px;
  z-index: 10;
  animation: 1s rollin ease-in-out 2.5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes roty {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes rollin {
  0% {
      opacity: 0;
      transform: rotate(0deg);
      top: 0px;
      right: 0px;
  }
  100% {
      opacity: 1;
      transform: rotate(345deg);
      top: 40px;
      right: 40px;
  }
}
@keyframes growin {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}
#reviewSubmissionModal .modal-content {
  margin-top: 60%;
}

.favorites{
  display:grid;
}
.favorites > div{
  transition: all 0.2s ease-in;

}
.favorites > div:nth-child(odd) {
    background-color: whitesmoke;
}
.favorites > div:nth-child(odd):hover {
    background-color: gainsboro;
    border-top-color: #2b8df2;
    border-left-color: #2b8df2;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
}

.favorites > div:nth-child(even):hover {
  background-color: darkgray;
  border-top-color: #2b8df2;
  border-left-color: #2b8df2;
  box-shadow: 2px 2px 3px rgba(0,0,0,.3);

}

.favorites > div:nth-child(even) {
  background-color: lightgrey;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 100px; */
  grid-gap: 5px;
  padding: 25px;
}

textarea {
  resize: none;
}
/* 
.bio .bio > div{

} */

.rightSide {
  display: grid;
  grid-template-rows:  1fr 1fr;
}

.fileContainer {
  background: none;
  box-shadow: 0 0 0 0;
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin: 10px auto;
  transition: all 0.3s ease-in;
}
